.covid-link {
  display: block;
  padding: 0.5rem;
  &.dark {
    background-color: rgba(0,0,0,0.8);
    color: white;
    a {
      color: yellow;
    }
  }
  &.light {
    background-color: rgba(255,255,255,0.5);
    color: black;
  }
}
